name: Run cloud-cleaner Image Builder

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *' # every hour

jobs:
  ib-aws-438:
    name: Image Builder AWS 438 account
    runs-on: ubuntu-latest
    container:
      image: quay.io/osbuild/cloud-tools:latest

    env:
      AWS_REGION: us-east-1
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_438_IB }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_438_IB }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: dnf install -y python3-pip && pip install -r requirements.txt

      - name: Run the cleaning script
        run: ./aws.py

  ib-azure:
    name: Image Builder Azure account
    runs-on: ubuntu-latest
    container:
      image: quay.io/osbuild/cloud-tools:latest

    env:
      AZURE_CLIENT_ID: "${{ secrets.AZURE_CLIENT_ID_IB }}"
      AZURE_CLIENT_SECRET: "${{ secrets.AZURE_CLIENT_SECRET_IB }}"
      AZURE_TENANT_ID: "${{ secrets.AZURE_TENANT_ID_IB }}"

    steps:
      - name: Install dependencies
        run: dnf install -y jq

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Run the cleaning script
        run: ./azure.sh

  ib-gcp:
    name: Image Builder GCP account
    runs-on: ubuntu-latest
    container:
      image: quay.io/osbuild/cloud-tools:latest

    env:
      GOOGLE_APPLICATION_CREDENTIALS: "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_IB }}"

    steps:
      - name: Install dependencies
        run: dnf install -y jq

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Run the cleaning script
        run: |
          echo "${GOOGLE_APPLICATION_CREDENTIALS}" > /tmp/gcp_creds
          export GOOGLE_APPLICATION_CREDENTIALS="/tmp/gcp_creds"
          ./gcp.sh

  ib-oci:
    name: Image Builder OCI account
    runs-on: ubuntu-latest
    container:
      image: quay.io/osbuild/cloud-tools:latest

    env:
      OCI_CONFIG_DATA: "${{ secrets.OCI_CONFIG_DATA }}"
      OCI_PRIV_KEY_DATA: "${{ secrets.OCI_PRIV_KEY_DATA }}"
      OCI_COMPARTMENT: "${{ secrets.OCI_COMPARTMENT }}"

    steps:
      - name: Install dependencies
        run: dnf install -y jq

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Run the cleaning script
        run: ./oci.sh

  ib-openshift:
    # always skip b/c OpenShift is not reachable outside VPN, see
    # https://gitlab.cee.redhat.com/osbuild/vcenter-cleaner
    if: ${{ ! always() }}
    name: Image Builder OpenShift
    runs-on: ubuntu-latest
    steps:
      - name: This workflow is internal only
        run: echo

  ib-vmware:
    # always skip b/c GOVMOMI_URL_IB is not reachable outside VPN, see
    # https://gitlab.cee.redhat.com/osbuild/vcenter-cleaner
    if: ${{ ! always() }}
    name: Image Builder vmware account
    runs-on: ubuntu-latest
    steps:
      - name: This workflow is internal only
        run: echo
